:root {
    --mulberry: #B55CA7;
    --skyblue: #6AC6D5;
    --poppy: #DC474E;
    --ivory: #FDFCF0;
    --gunmetal: #282D32;
    --white: #fff;
    --primaryFont: "nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
    text-decoration: none;
    color: var(--gunmetal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    background: var(--ivory);
}

header, footer {
    width: 100%;
    max-width: 320px;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

button {
    border: none;
    font: inherit;
}

/* header */

.site-header {
    position: relative;
    padding: 2rem 0;
}

.site-header__logo {
    max-width: 100px;
}

.nav-menu {
    position: fixed;
    top: 0; right: -100%;
    width: 70%;
    padding: 6rem 2rem;
    background: var(--mulberry);
    transition: 0.5s;
    z-index: 9;
}

.nav-menu.active {
    right: 0;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-menu ul li a {
    color: var(--ivory);
    font-family: var(--primaryFont);
    font-size: 1.7rem;
}

.hamburger {
    display: flex;
    padding: 0.1rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background: var(--mulberry);
    cursor: pointer;
    z-index: 10;
}

.menu-icon, .close-icon {
    color: var(--ivory);
}

.hide {
    display: none;
}

/* banner */

.home-banner__content {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    grid-gap: 2rem;
    grid-template-areas: 
    "heading"
    "froyoImg"
    "froyoText";
    margin-top: 5vh;
    margin-bottom: 5rem;
}

.home-banner__content h1 {
    grid-area: heading;
    font-weight: 900;
    font-size: 2rem;
    line-height: 0.9;
}

.home-banner__content h1 span {
    font-size: 3.5rem;
    display: inline-block;
}

.home-banner__content picture {
    grid-area: froyoImg;
}

.home-banner__picture {
    width: 100%;
    display: block;
}

.home-banner__picture img {
    width: 100%;
    height: auto;
}

.home-banner__content p {
    grid-area: froyoText;
    margin: 0 auto;
    font-weight: 800;
    font-size: 1.3rem;
}

.home-banner__content p span {
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
}

/* menu */
.home-menu__content {
    flex-direction: column;
}

.home-menu__content-title {
    margin-bottom: 2rem;
}

.flavor {
    width: auto;
    grid-column: span 2;
    background-color: rgba(106, 198, 213, 0.5);
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem 0;
    letter-spacing: -0.5px;
}

.flavor-menu-button {
    margin: 3rem 0;
    background-color: var(--mulberry);
    transition: all .2s linear;
    font-family: var(--primaryFont);
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--white);
    max-width: 250px;
    padding: 0.5rem 2rem 0.25rem;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(181, 92, 167, 0.3);
    transition: box-shadow 0.1s ease;
}

.flavor-menu-button.clicked {
    box-shadow: 3px 3px rgba(181, 92, 167, 0.3);
}

/* Slide */

.home-slider {
    background-color: var(--mulberry);
    width: 100vw;
    height: 500px;
    position: relative;
    padding: 1rem 0;
}

.home-slider__text {
    text-align: center;
    margin: 2rem 0;
}

.home-slider__text h3 {
    color: var(--white);
    letter-spacing: 0.2rem;
    margin-bottom: 0.3rem;
}

.home-slider__text p {
    color: var(--skyblue);
}

.carousel-cell {
    width: 50%;
    margin-right: 10px;
    border-radius: 5px;
}

/* Map */
#map {
    height: 180px;
}


/* Tablet */
@media (min-width: 834px) {
    header, footer {
        max-width: 768px;
    }
    
    .container {
        max-width: 768px;
    }

    .grid {
        width: 768px;
        grid-template-columns: repeat(12, 1fr);
    }
    
    .home-banner__content {
        gap: 1.5rem;
        grid-template-areas: 
            "froyoImg heading"
            "froyoImg froyoText";
    }

    .flavor {
        grid-column: span 3;
    }

    .home-slider {
        height: 800px;
        padding: 2rem 0;
    }
}


/* Desktop */
@media (min-width: 1440px) {
    header, footer {
        max-width: 1280px;
    }

    .container {
        max-width: 1280px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
    }

    .nav-menu ul {
        flex-direction: row;
    }

    .grid {
        width: 1280px;
        grid-gap: 20px;
    }

    .home-slider {
        height: 1300px;
        padding: 5rem 0;
    }



}