:root {
    --mulberry: #B55CA7;
    --skyblue: #6AC6D5;
    --poppy: #DC474E;
    --ivory: #FDFCF0;
    --gunmetal: #282D32;
    --white: #fff;
    --primaryFont: "nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    background: var(--ivory);
    color: var(--gunmetal);
}

header, main, footer {
    width: 375px;
    margin: 0 auto;

}

.flex {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.5rem;
}

.site-header {
    width: 320px;
    margin: 0 auto;
}

.site-header__wrapper {
    padding: 2rem;
}

.site-header__logo {
    justify-content: flex-start;
    width: 100px;
}

.site-header__menu {
    justify-content: flex-end;
}

.home-banner__content {
    display: grid;
    width: 320px;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    grid-gap: 2rem;
    grid-template-areas: 
        "heading"
        "froyoImg"
        "froyoText";
    margin-top: 5vh;
    margin-bottom: 5rem;
}

.home-banner__content h1 {
    grid-area: heading;
}

.home-banner__content img {
    grid-area: froyoImg;
}

.home-banner__content p {
    grid-area: froyoText;
    margin: 0 auto;
}

/* @media screen and (min-width: 834px) {
    .home-banner__content {
        height: auto;
        gap: 1.5rem;
        grid-template-areas: 
            "froyoImg heading"
            "froyoImg froyoText";
            margin-top: 0;
            margin-bottom: 5rem;
    }
} */