:root {
    --mulberry: #B55CA7;
    --skyblue: #6AC6D5;
    --poppy: #DC474E;
    --ivory: #FDFCF0;
    --gunmetal: #282D32;
    --white: #fff;
    --primaryFont: "nunito", sans-serif;
    --secondaryFont: "sweet-sans-pro", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
    text-decoration: none;
    color: var(--gunmetal);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--secondaryFont);
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    background: var(--ivory);
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

button {
    border: none;
    font: inherit;
}

/* header, footer*/
header, footer {
    width: 100%;
    max-width: 320px;
}

.site-header, .site_footer {
    position: relative;
    padding: 2rem 0;
}

.site-header__logo, .site-footer__logo {
    max-width: 100px;
}

/* navigation bar */

.nav-menu {
    position: fixed;
    top: 0; right: -100%;
    width: 70%;
    padding: 6rem 2rem;
    background: var(--mulberry);
    transition: 0.5s;
    z-index: 1000;
}

.nav-menu.active {
    right: 0;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-menu ul li a {
    color: var(--ivory);
    font-family: var(--primaryFont);
    font-size: 1.7rem;
}

.hamburger {
    display: flex;
    padding: 0.1rem;
    font-size: 2rem;
    border: none;
    border-radius: 30%;
    background: var(--mulberry);
    cursor: pointer;
    z-index: 1001;
}

.menu-icon, .close-icon {
    color: var(--ivory);
}

.hide {
    display: none;
}

/* footer */
.site-footer {
    padding-bottom: 5rem;
}

.site-footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.site-footer__icons > ion-icon {
    background-color: var(--poppy);
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 50%;
    color: var(--white);
}

/* banner */

.home-banner__content {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    grid-gap: 2rem;
    grid-template-areas: 
    "heading"
    "froyoImg"
    "froyoText";
    margin-top: 5vh;
    margin-bottom: 5rem;
}

.home-banner__content h1 {
    grid-area: heading;
    font-weight: 900;
    font-size: 2rem;
    line-height: 0.9;
}

.home-banner__content h1 span {
    font-size: 3.5rem;
    display: inline-block;
}

.home-banner__content picture {
    grid-area: froyoImg;
}

.home-banner__picture {
    width: 100%;
    display: block;
}

.home-banner__picture img {
    width: 100%;
    height: auto;
}

.home-banner__content p {
    grid-area: froyoText;
    margin: 0 auto;
    font-weight: 800;
    font-size: 1.3rem;
}

.home-banner__content p span {
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
}

/* menu */
.home-menu {
    margin: 3rem 0;
}

.home-menu__content {
    flex-direction: column;
}

.home-menu__content-title {
    margin-bottom: 2rem;
}

.flavor {
    width: auto;
    grid-column: span 2;
    background-color: rgba(106, 198, 213, 0.5);
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem 0;
    letter-spacing: -0.5px;
}

.flavor-menu-button {
    margin: 3rem 0;
    background-color: var(--mulberry);
    transition: all .2s linear;
    font-family: var(--primaryFont);
    font-size: 1.3rem;
    font-weight: 800;
    max-width: 250px;
    padding: 0.5rem 2rem 0.25rem;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(181, 92, 167, 0.3);
    transition: box-shadow 0.1s ease;
    cursor: pointer;
}

.flavor-menu-button a {
    color: var(--white);
}

.flavor-menu-button.clicked {
    box-shadow: 3px 3px rgba(181, 92, 167, 0.3);
}

/* Slide */
.home-slider {
    background-color: var(--mulberry);
    width: 100vw;
    height: 500px;
    position: relative;
    padding: 1rem 0;
}

.home-slider__text {
    text-align: center;
    margin: 2rem 0;
}

.home-slider__text h3 {
    color: var(--white);
    letter-spacing: 0.2rem;
    margin-bottom: 0.3rem;
}

.home-slider__text p {
    color: var(--skyblue);
}

/* flickity on by default */
.carousel:after {
    content: 'flickity';
    display: none;
}

.carousel-cell {
    width: 50%;
    margin-right: 10px;
    border-radius: 5px;
}

/* Map */
.home-map {
    height: 650px;
    margin: 2rem 0;
}

.home-map__title {
    font-family: var(--primaryFont);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding: 3rem 0;
}

.home-map__title h2 {
    color: var(--mulberry);
}

#map {
    height: 20vh;
    margin-bottom: 2rem;
}

.home-map__content {
    flex-direction: column;
    gap: 2rem;
}

.home-map__content-address {
    width: 320px;
    font-size: 1.6rem;
    text-align: center;
}

.home-map__content-info {
    justify-items: center;
}

.home-map__content-info ion-icon {
    grid-column: 1 / 2;
    font-size: 1.5rem;
}

.home-map__content-info p {
    grid-column: 2 / 5;
}

.home-map__content-info > ion-icon, .home-map__content-info > p {
    text-align: center;
}

.mail-icon {
    order: 1;
}

.mail-info {
    order: 2;
}

/* Search */

.search {
    margin: 5rem auto;
    font-family: var(--secondaryFont);
}

.search-bar {
    flex-direction: column;
}

.search-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(-135deg, #B55CA7, #6AC6D5);
}

.search-btn ion-icon{
    color: var(--white);
    font-size: 28px;
    padding-top: 10px;
}

.search-data{
    position: relative;
    height: 50px;
    width: 300px;
    display: flex;
    text-align: center;
    /* display: none; */
}

.search-data input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: var(--gunmetal);
}

.search-data .line{
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--gunmetal);
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.4s 0.3s linear;
}

.search-data .line.active{
    transform: scaleX(1);
}

.search-data label{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--gunmetal);
}


.search-data input:valid ~ label{
    opacity: 0;
}

.search-data ion-icon{
    color: var(--white);
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    top: 0;
    line-height: 45px;
    cursor: pointer;
}

.close-btn{
    position: relative;
    z-index: 99;
    right: -150px;
    font-size: 25px;
    color: var(--gunmetal);
    cursor: pointer;
}

.search-data, .search-data ion-icon,
.search-data label, .close-btn{
    display: none;
}

/* Parallax */
.parallax-window {
    min-height: 80vw;
    width: 100vw;
	background: transparent;
    overflow: hidden;
}

.parallax > span {
    display: block;
    font-size: 0.7em;
    text-align: center;
    color: var(--skyblue);
}


/* Tablet */
@media (min-width: 834px) {
    header, footer {
        max-width: 768px;
    }

    .container {
        max-width: 768px;
    }

    .grid {
        width: 768px;
        grid-template-columns: repeat(12, 1fr);
    }
    
    /* nav */

    .nav-menu {
        width: 40%;
    }

    /* banner */
    .home-banner__content {
        gap: 1.5rem;
        grid-template-areas: 
            "froyoImg heading"
            "froyoImg froyoText";
    }

    .home-banner__content h1 span {
        font-size: 4.5rem;
    }

    .home-banner__content p {
        font-size: 2rem;
    }
    
    .home-banner__content p span {
        display: inline-block;
        font-weight: 600;
        font-size: 1.2rem;
    }

    /* flavor */
    .flavor {
        grid-column: span 3;
        font-size: 0.8rem;
        font-weight: 600;
    }

    /* slide */
    .home-slider {
        height: 800px;
        padding: 2rem 0;
    }

    .home-slider__text h3, .home-slider__text p  {
        font-size: 1.2rem;
    }

    /* parallax */
    .parallax-window {
        min-height: 60vw;
    }

    /* map */
    #map {
        height: 30vh;
    }

    .home-map__content {
        flex-direction: row;
    }

    .home-map__content-info {
        grid-template-columns: repeat(5, 1fr);
    }


    .home-map__content-address {
        width: 70%;
        font-size: 1.4rem;
    }

    /* search */
    .search-data{
        width: 400px;
    }

    .close-btn{
        right: -200px;
}

    /* footer */
    .site-footer__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .site-footer__text {
        width: 70%;
    }


}

/* Desktop */
@media (min-width: 1440px) {
    header, footer {
        max-width: 1280px;
    }

    .container {
        max-width: 1280px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
    }

    .nav-menu ul {
        flex-direction: row;
    }

    .nav-menu ul li a {
        color: var(--gunmetal);
        font-family: var(--secondaryFont);
        font-size: 1.3rem;
    }

    .grid {
        width: 1280px;
        grid-gap: 20px;
    }

    /* banner */
    .home-banner__content h1 {
        font-size: 3rem;
    }

    .home-banner__content p {
        font-size: 2.5rem;
    }
    
    .home-banner__content p span {
        display: inline-block;
        font-weight: 700;
        font-size: 1.5rem;
    }

    /* flavor */
    .flavor {
        font-size: 1.3rem;
        font-weight: 600;
    }

    /* slider */
    .home-slider__text h3, .home-slider__text p  {
        font-size: 1.7rem;
    }

    .home-slider {
        height: 650px;
        padding: 5rem 0;
    }

    .carousel {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /* disable flickity for desktop */
    .carousel:after {
        content: '';
    }

    .carousel-cell {
        width: 15%;
    }

    /* parallax */
    .parallax-window {
        min-height: 40vw;
    }

    /* map */
    .home-map__content-address, .phone-info, .mail-info  {
        font-size: 1.5rem;
    }

    /* footer */
    .site-footer__wrapper {
        flex-wrap: no-wrap;
        padding-top: 8vh;
    }

    .site-footer__text {
        width: 50%;
    }

    .site-footer__icons.grid {
        grid-template-columns: repeat(6, 1fr);
        width: 30%;
    }
}