:root {
    --dark: rgba(34, 40, 49, 1);
    --grey-scaleblack-50: rgba(25, 24, 37, 0.5);
    --grey-scaleblack: rgba(25, 24, 37, 1);
    --grey-scaleblack-75: rgba(25, 24, 37, 0.75);
    --secondary: rgba(248, 94, 159, 1);
    --h6-font-family: "Circular Std", Helvetica;
    --h6-font-weight: 700;
    --h6-font-size: 23px;
    --h6-letter-spacing: 0px;
    --h6-line-height: 120.00000476837158%;
    --h6-font-style: normal;
    --body-font-family: "Inter", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 18px;
    --body-letter-spacing: 0px;
    --body-line-height: 160.0000023841858%;
    --body-font-style: normal;
  }
  